<div class="normalnav">
    <nav>
        <a routerLink="/">INICIO</a>
        <a routerLink="/list">LISTA JUGADORES</a>
        <a routerLink="/add">AÑADIR JUGADOR</a>
        <a routerLink="/about">CONTACTO</a>
    </nav>
</div>

<div class="hambnav">
    <nav>
        <input type="checkbox" id="menu">
        <label for="menu"> ☰ </label>
        <ul>
        <li> <a routerLink="/">INICIO</a></li>
        <li><a routerLink="/list">LISTA JUGADORES</a></li>
        <li><a routerLink="/add">AÑADIR JUGADOR</a></li>
        <li> <a routerLink="/about">CONTACTO</a></li>
        </ul>
    </nav>
</div>