<div>
    <footer>
    <h3>LOS MEJORES JUGADORES DE LA HISTORIA</h3>
    <section>
        <p>Puedes buscar contenidos relacionados en los siguientes enlaces</p>
        <ul>
            <li><a href="http://www.nba.com">NBA.COM</a></li>
            <li><a href="http://www.google.es">GOOGLE</a></li>
            <li><a href="http://www.facebook.com">FACEBOOK</a></li>
            <li><a href="http://www.youtube.com">YOUTUBE</a></li>
            <li><a href="http://www.instagram.com">INSTAGRAM</a></li>
        </ul>
    </section>
    <aside>
        Diseño por Rodigo en {{date}}
    </aside>
</footer>
</div>
