<div>
    <article>
        <section>
            <h2>Jugadores que han hecho historia </h2>
            <p>Personaliza tu lista de mejores jugadores de baloncesto de la historia a tu manera con esta web. 
                Podrás acceder a un listado con algunos de los principales jugadores que fueron leyenda de este deporte
                y añadir nuevos jugadores con su foto y datos.
                Puedes navegar desde el menú al listado de los jugadores ya incluidos o bien añadir un jugador nuevo.
                Se puede modificar los jugadores del listado haciendo click sobre ellos y como es una lista al gusto,
                también puedes borrarle.

            </p>
     </section>
    </article>
</div>
